/* eslint-disable */
h1 {
  color: #3d3d3d;
  font-weight: normal;
  font-size: 16px;
  font-style: normal;
  line-height: 16px;
}

.product-container {
  :hover {
    // border-top: 1px solid #46a358;
  }

  position: relative;
}

.prev-price {
  margin-left: 16px;
  color: #a5a5a5;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 16px;
  text-decoration: line-through;
}

.cur-price {
  color: #46a358;
  font-weight: bold;
  font-size: 18px;
  font-style: normal;
  line-height: 16px;
}

.discount-container {
  position: absolute;
  top: 14px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  background-color: #46a358;
}

.discount-count {
  color: white;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 16px;
}

.products-grid {
  max-width: 840px;
  margin-top: 40px;
}

.categories {
  min-width: 310px;
  padding-top: 14px;
  padding-bottom: 19px;
  padding-left: 18px;
  background: #fbfbfb;
  max-height: fit-content;
}

.category-container {
  padding-left: 12px;
  padding-right: 24px;
}

.categories-item {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 40px;
}

.categories-item:hover {
  color: #46a358;
}

.categories-list {
  list-style: none;
  padding-left: 0;
}

.category-header {
  font-size: 18px;
  line-height: 16px;
  color: #3d3d3d;
}

.subcategories-list {
  list-style: none;
}

.subcategories-item {
  font-weight: bold;
  font-size: 13px;
  line-height: 40px;
}

.subcategories-item:hover {
  color: #46a358;
}

.category-price-header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;

  /* identical to box height, or 89% */

  color: #3d3d3d;
}

.category-price-subheader {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #46a358;
}

.rc-slider-track-1,
.rc-slider-handle {
  background-color: #46a358 !important;
}

.price-span {
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;

  /* identical to box height, or 107% */

  color: #3d3d3d;
}

.filter {
  width: 90px;
  height: 35px;
  left: 150px;
  top: 1117px;
  background: #46a358;
  border: 1px solid #46a358;
  cursor: pointer;
  border-radius: 6px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.catalog-wrapper {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.hover-container {
  background-color: white;
  position: absolute;
  top: 230px;
  left: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
