/* eslint-disable */
h1 {
  color: #3d3d3d;
  font-weight: normal;
  font-size: 16px;
  font-style: normal;
  line-height: 16px;
}

.product-container {
  :hover {
    border-top: 1px solid #46a358;
  }

  position: relative;
}

.prev-price {
  margin-left: 16px;
  color: #a5a5a5;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 16px;
  text-decoration: line-through;
}

.cur-price {
  color: #46a358;
  font-weight: bold;
  font-size: 18px;
  font-style: normal;
  line-height: 16px;
}

.discount-container {
  position: absolute;
  top: 14px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  background-color: #46a358;
}

.discount-count {
  color: white;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 16px;
}

.products-section {
  display: grid;
  grid-row-gap: 90px;
  grid-template-columns: repeat(3, 2fr);
  max-width: 840px;
  margin-top: 40px;
}
